<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.Jasmine.dao.mybatis.mapper.CategoryMapper">
  <cache />
  
  <!--<select id="getBookByBookId" resultType="com.ssg.Jasmine.domain.Book">
    SELECT BOOKID, ISBN, PRICE, TITLE, AUTHOR, PUBLISHER, AUTHOR, CATEGORYID
    FROM BOOK 
    WHERE BOOKID = #{bookId}
  </select>--> 
  
  <select id="getAllGenres" resultType="com.ssg.Jasmine.domain.Category">
  	select categoryid, genre
  	from category
  </select>
  
  <select id="getGenreByCategoryId" parameterType="com.ssg.Jasmine.domain.Category" resultType="java.lang.String">
  	select genre
  	from category
  	where categoryid=#{categoryId}
  </select>
  


</mapper>