<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.Jasmine.dao.mybatis.mapper.OrderMapper">
  <cache />
  <sql id="BaseColumns">
  	orderId,
  	cardBank, cardNo, validDate, cvc,
  	address, 
  	phone,
  	refundBank, refundAccount,
  	totalPrice, 
  	orderDate, 
  	userId
  </sql>
  
  <resultMap id="resultMap" type="Order">
		<id column="orderId" property="orderId" />
		<result column="cardBank" property="cardBank" />
		<result column="cardNo" property="cardNo" />
		<result column="validDate" property="validDate" />
		<result column="cvc" property="cvc" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="refundBank" property="refundBank" />
		<result column="refundAccount" property="refundAccount" />
		<result column="totalPrice" property="totalPrice" />
		<result column="orderDate" property="orderDate" />
		<result column="userId" property="userId" />
		<result column="status" property="status" />
		<result column="bookId" property="bookId" />
		<result column="auctionId" property="auctionId" />						
			<result column="totalQuantity" property="totalQuantity" />						
		

  </resultMap> 
  
  <select id="getOrder" parameterType="int" resultType="Order">
  	SELECT *
  	FROM Order_
  	WHERE orderId = #{orderId}
  </select>
  
  <insert id="createAuctionOrder" parameterType="Order">
  	INSERT INTO Order_ (<include refid="BaseColumns" />, auctionId)
  	VALUES (seq_orderId.nextval, #{cardBank}, #{cardNo}, #{validDate}, #{cvc},
  		#{address},  #{phone}, #{refundBank}, #{refundAccount}, #{totalPrice}, 
  		SYSDATE, #{userId}, #{auction.auctionId})
  </insert>
  
  <insert id="createBookOrder" parameterType="Order">
  	INSERT INTO Order_ (<include refid="BaseColumns" />, bookId)
  	VALUES (seq_orderId.nextval, #{cardBank}, #{cardNo}, #{validDate}, #{cvc},
  		#{address},  #{phone}, #{refundBank}, #{refundAccount}, #{totalPrice}, 
  		SYSDATE, #{userId}, #{bookId})
  </insert>
  
  <select id="getAuctionId" parameterType="int" resultType="int">
  	SELECT s.auctionId
	FROM successBidders s, Order_ o
	WHERE o.orderId = #{orderId} AND s.auctionId = o.auctionId
  </select>

	<select id="getBookId" parameterType="int" resultType="int">
  	SELECT bookId
	FROM Order_ 
	WHERE orderId = #{orderId}
  </select>
  
  <select id="getAuctionListByUserId" parameterType="String" resultType="Auction"> 
  	SELECT a.*
	FROM Order_ o, Auction a
	WHERE o.userId = #{userId} AND o.auctionId=a.auctionId
  </select>
  
    <select id="getOrderListByUserId" parameterType="String" resultType="Order">
  	SELECT *
	FROM Order_
	WHERE userId = #{userId}
  </select>
  
  <select id="getOrderByAuctionId" parameterType="int" resultType="int">
  	SELECT orderId
	FROM Order_
	WHERE auctionId = #{auctionId}
  </select>
  
  <select id="getOrderByBookId" parameterType="int" resultType="int">
  	SELECT orderId
	FROM Order_
	WHERE bookId = #{param1}
  </select>
  
   <select id="getOrderByBookId2" parameterType="int" resultType="Order">
  	SELECT *
	FROM Order_
	WHERE bookId = #{bookId}
  </select>
  
  <delete id="deleteOrderByUserId" parameterType="Integer">
  	DELETE FROM Order_
  	WHERE USERID = #{userId}
  </delete>
  
  <delete id="deleteOrderByOrderId" parameterType="Integer">
  	DELETE FROM Order_
  	WHERE ORDERID = #{orderId}
  </delete>
 
 </mapper>