<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.Jasmine.dao.mybatis.mapper.SuccessBidderMapper">
  <cache />

	<select id="getSuccessBidder" parameterType="int" resultType="SuccessBidder">
		SELECT bidId, userId, auctionId
		FROM SuccessBidders
		WHERE bidId = #{bidId}
	</select>
	
	<select id="getSuccessBidderListByUserId" parameterType="String" resultType="Auction">
		SELECT a.*
		FROM SuccessBidders s, Bid b, Auction a
		WHERE s.userId = #{userId} AND b.auctionId=a.auctionId AND s.bidId=b.bidId
	</select>
	

	<insert id="createSuccessBidder" parameterType="SuccessBidder">
		INSERT INTO SuccessBidders (bidId, userId, auctionId)
		VALUES (#{bidId}, #{userId}, #{auctionId})
	</insert>
	
	<select id="getSuccessBidderList" resultType="SuccessBidder">
		SELECT bidId, userId, auctionId
		FROM SuccessBidders
	</select>

	<select id="getSuccessBidderUserId" parameterType="String" resultType="SuccessBidder">
		SELECT bidId, userId, auctionId
		FROM SuccessBidders
		WHERE userId = #{userId}
	</select>

	<select id="getSuccessBidderByAuctionId" parameterType="int" resultType="SuccessBidder">
		SELECT bidId, userId, auctionId
		FROM SuccessBidders
		WHERE auctionId = #{auctionId}
	</select>

</mapper>
