<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.Jasmine.dao.mybatis.mapper.UserMapper">
  <cache />
  
  <select id="getUser" resultType="User">
    SELECT USERID, EMAIL, PASSWORD, USERNAME, ADDRESS1, PHONE
    FROM USER_ 
    WHERE EMAIL = #{param1}
      AND PASSWORD = #{param2}
  </select> 
  
  <select id="getUserByEmail" resultType="User">
  	SELECT USERID, EMAIL, PASSWORD, USERNAME, ADDRESS1, PHONE
    FROM USER_ 
    WHERE EMAIL = #{param1}
  </select>
  
  <select id="getUserByUserId" resultType="User">
  	SELECT USERID, EMAIL, PASSWORD, USERNAME, ADDRESS1, PHONE
    FROM USER_ 
    WHERE USERID = #{param1}
  </select>
  
  <insert id="createUser" parameterType="User">
  	INSERT INTO USER_ 
  	( USERID, EMAIL, PASSWORD, USERNAME, ADDRESS1, PHONE)
  	VALUES 
  	(USERID_SEQ.nextval, #{email}, #{password}, #{userName}, 
  	#{address, jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, 
  </insert>
  
  <update id="updateUser" parameterType="User">
  	UPDATE USER_ SET
  		PASSWORD = #{password},
  		ADDRESS = #{address1},
  		PHONE = #{phone}
  	WHERE USERID = #{userId}
  </update>
  
  <update id="deleteUser" parameterType="User">
  	UPDATE USER_ SET
  		EMAIL = '알수없음@deleted.user',
  		PASSWORD = '알수없음',
  		USERNAME = '알수없음',
  		ADDRESS = null,
  		PHONE = null
  	WHERE USERID = #{userId}
  </update>

	<select id="getAuctionOrderList" resultType="Order">
		SELECT s.auctionId, o.orderId, o.orderDate, o.totalPrice
		FROM orders o, successBidders s
		WHERE o.orderId = s.orderId and o.userId = #{param1}
		ORDER BY orderId DESC
	</select>

	<select id="getGroupBuyOrderList" resultType="Order">
		SELECT DISTINCT l.groupBuyId, o.orderId, o.orderDate, o.totalPrice
		FROM orders o, lineGroupBuys l
		WHERE o.orderId = l.orderId and o.userId= #{param1}
		ORDER BY orderId DESC
	</select>

  <select id="getGroupBuyList" parameterType="int"
  		resultType="GroupBuy">
  	SELECT groupBuyId, title, content, img, minNo, uploadDate, endDate, count, state, rate, participants, menuId, catId, userId, price
  	FROM groupBuys
  	WHERE userId = #{userId}
  	ORDER BY groupBuyId DESC
  </select> <!-- user가 등록한 GroupBuyList를 가져옴 for 마이페이지 공동구매 등록 목록 보기 -->
  
    <select id="getAuctionList" parameterType="int"
  		resultType="Auction">
  	SELECT auctionId, title, content, img, startPrice, uploadDate, endDate, count, maxPrice, state, menuId, userId
  	FROM auctions
  	WHERE userId = #{userId}
  	ORDER BY auctionId DESC
  </select> <!-- user가 등록한 AuctionList를 가져옴 for 마이페이지 경매 등록 목록 보기 -->
  
</mapper>