<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="stylesheet" href="style/jasmine.css" type="text/css" />
<title>Jasmine</title>
</head>
<body bgcolor="white">
  <table class="top">
    <tr>
      <td class="top_logo" width="20%">
        <a href="shop/index.do">
          <img border="0" src="images/logo.png" /></a>
      </td>
      <td style="text-align:center" width="50%">
        <form action="shop/searchProducts.do" method="post">     	
          <input style="width:300px; height:25px" name="keyword" />&nbsp;
          <input src="images/search.png" type="image"/>
        </form>
      </td>
      <td style="text-align:right" width="30%">
        <a href="shop/viewCart.do">
          <img border="0" name="img_cart" src="images/cart.png" /></a>
        <img border="0" src="images/separator.gif" />
        <!-- <a href="shop/signonForm.do">
            <img border="0" name="img_signin" src="images/login.png" /></a>
             <img border="0" src="images/separator.gif" /> -->
          <a href="shop/signonForm.do">
            <img border="0" name="img_signin" src="images/mypage.png" /></a> 
         <img border="0" src="images/separator.gif" />
          <a href="shop/signonForm.do">
            <img border="0" name="img_signin" src="images/logout.png" /></a>
       <!-- <img border="0" src="images/separator.gif" />
          <a href="shop/signonForm.do">
            <img border="0" name="img_signin" src="images/join.png" /></a> -->
        
      </td>
    </tr>
  </table>  
  <table class="t1">
  <tr>
	  <td rowspan="2">
	  	<table class="t1-1">
	  		<tr>
	  			<th>
	           		<img border="0" name="img_signin" src="images/menu.png" /></a>
		  		</td>
			</tr>
	  		<tr>
		  		<td >
		  			<a href="shop/signonForm.do">
	           		<img border="0" name="img_signin" src="images/book_menu.png" /></a>
		  		</td>
			</tr>
			<tr>
				<td>
		  			<a href="shop/signonForm.do">
	            	<img border="0" name="img_signin" src="images/auction_menu.png" /></a>
		  		</td>
			</tr>
			<tr>
				<td>
			  		<a href="shop/signonForm.do">
		            <img border="0" name="img_signin" src="images/community_menu.png" /></a>
		  		</td>
			</tr>
	  	</table>
	  </td>
  </tr>
    <tr>
      <td valign="top" width="100%">
        <p>&nbsp;</p>
        <p align="center">
          <b>Welcome to the Spring JPetStore, by Juergen Hoeller</b>
        </p>
        <p align="center">Based on the iBATIS JPetStore, by Clinton Begin</p>
        <p align="center">
          <i> This application demonstrates the use of Spring for the middle
            tier, including declarative transaction management applied to POJO
            business objects. This application can easily be configured to use
            JTA or JDBC for transaction management, so it allows declarative
            transaction management in a web container without JTA. <br> <br>There
            are alternative Spring and Struts MVC layers built on a shared
            Spring middle tier.
          </i>
        </p>
        <p align="center">
          <a href="shop/index.do"><font size="5">Enter the Store</font></a>
        </p>
      </td>
    </tr>
  </table>
  <div align="center">
    <table>
      <tr>
        <td><a href="http://www.springframework.org"> 
          <img border="0" src="images/github-logo.png"
              alt="Powered by the Spring Framework" /></a>
        </td>
        <td><a href="http://www.ibatis.com"> 
          <img border="0" src="images/isManager.png"
              alt="Powered by MyBatis" /></a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>